.body{
  width:100%;
  height: 100%;
  background-image: linear-gradient(#303952,#596275);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0px;
  padding:10px;
}
.App{
  width: 85%;
  margin:0 auto;
  box-sizing: border-box;
}